@using OtakuNET.Web.Models.TitleViewModels
@using OtakuNET.Web.Services.TagTranslator.Frontend
@model TitleInformationViewModel

@{
    var tagTranslator = new FrontendTagTranslator();
    var tagClass = tagTranslator.ToClassName(Model.Tag);
    var tagText = tagTranslator.ToString(Model.Tag);
}

<dl>
    @foreach (var info in Model.Information)
    {
        <dt>@info.Key</dt>
        <dd>
            @if (string.Equals(info.Key, "Статус", StringComparison.OrdinalIgnoreCase))
            {
                <span class="tag @tagClass">@tagText</span>
            }
            @foreach (var value in info.Values)
            {
                <span>@value</span>
            }
        </dd>

    }
</dl>
