
@{
    ViewData["Title"] = "Повар-боец Сома: Третье блюдо — Часть II";
}

<header class="title__header">
    Повар-боец Сома: Третье блюдо — Часть II
</header>

<div class="flex__flex-container">

    <div class="flex__main-container flex__flex-container">

        <section class="title__section-art">
            <img src="~/images/missing.jpg" alt="" class="title__section-art__image" />
            <div class="in-list">Добавить в список</div>
            <div class="title__episode-counter">
                <span class="title__episode-counter__text">Эпизоды</span>
                <span class="title__episode-counter__counter">0</span>
            </div>
            <div class="title__my-raiting">
                <div class="star star--active-empt"></div>
                <div class="star star--active-empt"></div>
                <div class="star star--active-empt"></div>
                <div class="star star--active-empt"></div>
                <div class="star star--active-empt"></div>
            </div>
        </section>

        <div class="title__info-container">

            <div class="title__info-container__flex-container">

                <div>
                    <section class="title__section-info">
                        <header class="section__header section__header--min">Информация</header>
                        <dl>
                            <dt>Тип</dt>
                            <dd>TV Сериал</dd>
                            <dt>Эпизоды</dt>
                            <dd>6 / 12</dd>
                            <dt>Длительность эпизода</dt>
                            <dd>24 мин.</dd>
                            <dt>Статус</dt>
                            <dd>
                                <span class="tag tag--ongoing">онгоинг</span>
                                <span>с 8 апр. 2018 г.</span>
                            </dd>
                            <dt>Жанры</dt>
                            <dd>Этти Школа Сенен</dd>
                            <dt>Рейтинг</dt>
                            <dd>PG-13</dd>
                            <dt>Альтернативное название</dt>
                            <dd>Shokugeki no Souma: San no Sara - Toutsuki Ressha-hen</dd>
                        </dl>
                    </section>
                    <section class="title__section-raiting">
                        <header class="section__header section__header--min">Рейтинг</header>
                        <div class="star star--passive-fill" title="8.57 Отлично"></div>
                        <div class="star star--passive-fill" title="8.57 Отлично"></div>
                        <div class="star star--passive-fill" title="8.57 Отлично"></div>
                        <div class="star star--passive-fill" title="8.57 Отлично"></div>
                        <div class="star star--passive-part" title="8.57 Отлично"></div>
                    </section>
                </div>

                <div>
                    <section class="title__section-studio">
                        <header class="section__header section__header--min">Студия</header>
                        <a asp-controller="Studio" asp-action="Name" title="Studio name">
                            <img src="~/images/missing-square.jpg" alt="" class="title__section-studio__image" />
                        </a>
                    </section>
                </div>

            </div>

            <section class="title__section-description">
                <header class="section__header section__header--min">Описание</header>
                <p class="title__section-description__text">
                    Отец Эрины Накири, Азами, как и хотел, встал на пост директора кулинарной академии. С его приходом всё изменилось: правила стали жёстче, плохих учеников сразу выгоняют, а с теми, кто против изменений, обращаются крайне плохо. Сама же Эрина сбежала из дома и прячется в общежитии, где живёт Сома. Теперь девушка решила встать против тирании отца, дабы спасти своих друзей от участи предстоящих экзаменов, проводимых по всему Хоккайдо.
                </p>
            </section>

        </div>

    </div>

    <div class="flex__right-panel">
        <section class="title__diagram-section">
            <header class="section__header section__header--min">Оценки людей</header>
            <div class="diagram">
                <span>10</span>
                <div class="diagram__line" style="width: 90%">
                    <span>902</span>
                </div>
            </div>
            <div class="diagram">
                <span>9</span>
                <div class="diagram__line" style="width: 85%">
                    <span>855</span>
                </div>
            </div>
            <div class="diagram">
                <span>8</span>
                <div class="diagram__line" style="width: 80%">
                    <span>809</span>
                </div>
            </div>
            <div class="diagram">
                <span>7</span>
                <div class="diagram__line" style="width: 70%">
                    <span>700</span>
                </div>
            </div>
            <div class="diagram">
                <span>6</span>
                <div class="diagram__line" style="width: 69%">
                    <span>693</span>
                </div>
            </div>
        </section>
        <section class="title__diagram-section">
            <header class="section__header section__header--min">В списках у людей</header>
            <div class="diagram">
                <span>Запланировано</span>
                <div class="diagram__line" style="width: 65%">
                    <span>8112</span>
                </div>
            </div>
            <div class="diagram">
                <span>Смотрю</span>
                <div class="diagram__line" style="width: 61%">
                    <span>7343</span>
                </div>
            </div>
            <div class="diagram">
                <span>Пересматриваю</span>
                <div class="diagram__line" style="width: 0%">
                    <span> </span>
                </div>
            </div>
            <div class="diagram">
                <span>Просмотрено</span>
                <div class="diagram__line" style="width: 0%">
                    <span> </span>
                </div>
            </div>
            <div class="diagram">
                <span>Отложено</span>
                <div class="diagram__line" style="width: 10%">
                    <span>23</span>
                </div>
            </div>
            <div class="diagram">
                <span>Брошено</span>
                <div class="diagram__line" style="width: 2%">
                    <span> </span>
                </div>
            </div>
        </section>
        <section class="title__outer-links">
            <header class="section__header section__header--min">На других сайтах</header>
            <a href="">Официальный сайт</a><br />
            <a href="">Википедия</a><br />
            <a href="">AniLibria</a><br />
        </section>
    </div>

</div>