@using OtakuNET.Web.Models.AnimangaViewModels
@using OtakuNET.Web.Models.MangaViewModels
@model AnimangaListViewModel

@{
    ViewData["Title"] = "Манга";
}

@{ 
    Model.Titles.Reverse();
}

<a asp-controller="Manga" asp-action="List">
    <header class="section__header section__header--anime-list">Манга</header>
</a>
<p class="list__header">@Model.Header</p>

<div class="flex__flex-container">

    <div class="flex__main-container">
        @foreach (var title in Model.Titles)
        {
            var model = new TitlePreviewPartialViewModel
            {
                ControllerName = "Manga",
                Title = title
            };
            await Html.RenderPartialAsync("/Views/AnimangaPartial/_TitlePreviewPartial.cshtml", model);
        }
    </div>

    <div class="flex__right-panel">

    </div>

</div>
