
@{
    ViewData["Title"] = "Манга";
}

<a href="">
    <header class="section__header section__header--anime-list">Манга</header>
</a>

<div class="flex__flex-container">

    <div class="flex__main-container">
        <div class="title-preview">
            <a asp-controller="Manga" asp-action="Title" class="title-preview__link" title="Название">
                <img src="~/images/missing.jpg" alt="" class="title-preview__image" />
                <p class="title-preview__info">Издатель</p>
                <h3 class="title-preview__name title-preview__name--absolute">Название</h3>
            </a>
        </div>
        <div class="title-preview">
            <a asp-controller="Manga" asp-action="Title" class="title-preview__link" title="Название">
                <img src="~/images/missing.jpg" alt="" class="title-preview__image" />
                <p class="title-preview__info">Издатель</p>
                <h3 class="title-preview__name title-preview__name--absolute">Название</h3>
            </a>
        </div>
        <div class="title-preview">
            <a asp-controller="Manga" asp-action="Title" class="title-preview__link" title="Название">
                <img src="~/images/missing.jpg" alt="" class="title-preview__image" />
                <p class="title-preview__info">Издатель</p>
                <h3 class="title-preview__name title-preview__name--absolute">Название</h3>
            </a>
        </div>
        <div class="title-preview">
            <a asp-controller="Manga" asp-action="Title" class="title-preview__link" title="Название">
                <img src="~/images/missing.jpg" alt="" class="title-preview__image" />
                <p class="title-preview__info">Издатель</p>
                <h3 class="title-preview__name title-preview__name--absolute">Название</h3>
            </a>
        </div>
        <div class="title-preview">
            <a asp-controller="Manga" asp-action="Title" class="title-preview__link" title="Название">
                <img src="~/images/missing.jpg" alt="" class="title-preview__image" />
                <p class="title-preview__info">Издатель</p>
                <h3 class="title-preview__name title-preview__name--absolute">Название</h3>
            </a>
        </div>
        <div class="title-preview">
            <a asp-controller="Manga" asp-action="Title" class="title-preview__link" title="Название">
                <img src="~/images/missing.jpg" alt="" class="title-preview__image" />
                <p class="title-preview__info">Издатель</p>
                <h3 class="title-preview__name title-preview__name--absolute">Название</h3>
            </a>
        </div>
    </div>

    <div class="flex__right-panel">

    </div>

</div>
