
@{
    ViewData["Title"] = "GTO";
}

<header class="title__header">
    Крутой учитель Онидзука
</header>

<div class="title__main-container">

    <div class="title__container">

        <section class="title__section-art">
            <img src="~/images/missing.jpg" alt="" class="title__section-art__image" />
            <div class="in-list">Добавить в список</div>
            <div class="title__my-raiting">
                <div class="star star--active-empt"></div>
                <div class="star star--active-empt"></div>
                <div class="star star--active-empt"></div>
                <div class="star star--active-empt"></div>
                <div class="star star--active-empt"></div>
            </div>
        </section>

        <div class="title__info-container">

            <div class="title__info-container__flex-container">

                <div>
                    <section class="title__section-info">
                        <header class="section__header section__header--min">Информация</header>
                        <dl>
                            <dt>Тип</dt>
                            <dd>Манга</dd>
                            <dt>Тома</dt>
                            <dd>25</dd>
                            <dt>Главы</dt>
                            <dd>208</dd>
                            <dt>Статус</dt>
                            <dd>
                                <span class="tag tag--release">издано</span>
                                <span>в 1996-2002 гг.</span>
                            </dd>
                            <dt>Жанры</dt>
                            <dd>Экшен Комедия Драмма Этти Школа Сенен</dd>
                            <dt>Альтернативное название</dt>
                            <dd>GTO: Great Teacher Onizuka</dd>
                        </dl>
                    </section>
                    <section class="title__section-raiting">
                        <header class="section__header section__header--min">Рейтинг</header>
                        <div class="star star--passive-fill" title="8.57 Отлично"></div>
                        <div class="star star--passive-fill" title="8.57 Отлично"></div>
                        <div class="star star--passive-fill" title="8.57 Отлично"></div>
                        <div class="star star--passive-fill" title="8.57 Отлично"></div>
                        <div class="star star--passive-part" title="8.57 Отлично"></div>
                    </section>
                </div>

                <div>
                    <section class="title__section-studio">
                        <header class="section__header section__header--min">Издатель</header>
                        <a href="~/Studios/Shounen%20Magazine" title="Studio name">
                            Shounen Magazine
                        </a>
                    </section>
                </div>

            </div>

            <section class="title__section-description">
                <header class="section__header section__header--min">Описание</header>
                <p class="title__section-description__text">
                    22-летний Эйкити Онидзука: бестолочь, бывший член банды... и учитель?
                    Великий учитель Онидзука вытворяет невозможные, иногда нелепые выходки для классного руководителя, пытаясь перехитрить и победить класс 3-4, который намерен выдворить его из школы. В то же время другие препятствия представлены во всей красе, включая лысеющего заместителя директора Хироси Утиямаду, старых врагов со времён его принадлежности к банде и его собственных идиотских методов преподавания. Всё это встаёт на пути у Онидзуки, когда тот пытается помочь ученикам самого проблемного класса школы Сэйрин и своей прекрасной коллеге Адзусе Фуюцуки.
                </p>
            </section>

        </div>

    </div>

    <div class="title__right-panel">
        <section class="title__diagram-section">
            <header class="section__header section__header--min">Оценки людей</header>
            <div class="diagram">
                <span>10</span>
                <div class="diagram__line" style="width: 90%">
                    <span>902</span>
                </div>
            </div>
            <div class="diagram">
                <span>9</span>
                <div class="diagram__line" style="width: 85%">
                    <span>855</span>
                </div>
            </div>
            <div class="diagram">
                <span>8</span>
                <div class="diagram__line" style="width: 80%">
                    <span>809</span>
                </div>
            </div>
            <div class="diagram">
                <span>7</span>
                <div class="diagram__line" style="width: 70%">
                    <span>700</span>
                </div>
            </div>
            <div class="diagram">
                <span>6</span>
                <div class="diagram__line" style="width: 69%">
                    <span>693</span>
                </div>
            </div>
        </section>
        <section class="title__diagram-section">
            <header class="section__header section__header--min">В списках у людей</header>
            <div class="diagram">
                <span>Запланировано</span>
                <div class="diagram__line" style="width: 65%">
                    <span>8112</span>
                </div>
            </div>
            <div class="diagram">
                <span>Читаю</span>
                <div class="diagram__line" style="width: 61%">
                    <span>7343</span>
                </div>
            </div>
            <div class="diagram">
                <span>Перечитываю</span>
                <div class="diagram__line" style="width: 0%">
                    <span> </span>
                </div>
            </div>
            <div class="diagram">
                <span>Прочитано</span>
                <div class="diagram__line" style="width: 0%">
                    <span> </span>
                </div>
            </div>
            <div class="diagram">
                <span>Отложено</span>
                <div class="diagram__line" style="width: 10%">
                    <span>23</span>
                </div>
            </div>
            <div class="diagram">
                <span>Брошено</span>
                <div class="diagram__line" style="width: 2%">
                    <span> </span>
                </div>
            </div>
        </section>
        <section class="title__outer-links">
            <header class="section__header section__header--min">На других сайтах</header>
            <a href="">Официальный сайт</a><br />
            <a href="">Википедия</a><br />
            <a href="">ReadManga</a><br />
        </section>
    </div>

</div>