<article class="news-node">
    <header>
        <span class="tag tag--news">новость</span>
        <span class="title-preview__name title-preview__name--big">Заголовок новости</span>
        <span class="title-preview__info">2 дня назад</span>
    </header>
    <img src="~/images/missing.jpg" alt="" class="news-node__image" />
    <p class="news-node__text">
        19-го мая 2018 года на Nico Nico Live состоится показ анимационного ролика Nani iro no Nani
        Деньги на аниме (6 млн. иен) были собраны по схеме краудфандинг-а. Организатором и продюсером проекта выступила J-pop группа Kuso Iinkai. Их музыка прозвучит во время... (для этого всё и задумывалось - как музыкальная презентация творчества/стиля), а лидер группы - Ryuichi Miura написал сценарий.
        Художник по имени Kanata, что не может продать свои картины и любительница живописи Haruka, которая не может их купить. Они встретились в маленькой галерее - двое неудачников, что нашли в себе силы поддержать друг друга.
    </p>
</article>
<article class="news-node">
    <header>
        <span class="tag tag--news">новость</span>
        <span class="title-preview__name title-preview__name--big">Заголовок новости</span>
        <span class="title-preview__info">2 дня назад</span>
    </header>
    <img src="~/images/missing.jpg" alt="" class="news-node__image" />
    <p class="news-node__text">
        Наш новый анонс наверняка порадует читателей манги: это легенда жанра седзе - Kamisama Hajimemashita, 25-томная манга Джульетты Судзуки, очень обаятельная история, которая сочетает в себе не только типичные для жанра романтику и юмор, но и мистику, приключения и даже серьезную драму.
    </p>
</article>
<article class="news-node">
    <header>
        <span class="tag tag--news">новость</span>
        <span class="title-preview__name title-preview__name--big">Заголовок новости</span>
        <span class="title-preview__info">2 дня назад</span>
    </header>
    <p class="news-node__text">
        10 и 11 июня в Петербурге пройдёт ежегодный международный фестиваль фантастики, кино и науки — Старкон.
        Как и в прошлом году, “Старкон” пройдет в конгрессно-выставочном центре «Экспофорум».
        Всего в этом году ожидается больше 1300 косплееров из России и стран
        ближнего зарубежья. На главной сцене вы увидите зрелищные выступления
        косплееров и грандиозную шоу-программу.
    </p>
</article>
