<article class="update-node">
    <header class="update-node__header">
        <span class="tag tag--release">релиз</span>
        <a asp-controller="Anime" asp-action="Title" title="" class="title-preview__name title-preview__name--big">Название тайтла</a>
        <span class="title-preview__info">15 часов назад</span>
    </header>
    <div class="update-node__container">
        <div class="update-node__image">
            <img src="~/images/missing.jpg" alt="" />
        </div>
        <div class="update-node__info">
            <dl>
                <dt>Тип</dt>
                <dd>TV сериал 2018 год R+</dd>
                <dt>Студия</dt>
                <dd>Passione</dd>
                <dt>Эпизоды</dt>
                <dd>12</dd>
                <dt>Жанры</dt>
                <dd>Экшен Комедия Демоны Этти Романтика Школа</dd>
            </dl>
        </div>
    </div>
</article>
<article class="update-node">
    <header class="update-node__header">
        <span class="tag tag--episode">эпизод 6</span>
        <a asp-controller="Anime" asp-action="Title" title="" class="title-preview__name title-preview__name--big">Название тайтла</a>
        <span class="title-preview__info">15 часов назад</span>
    </header>
    <div class="update-node__container">
        <div class="update-node__image">
            <img src="~/images/missing.jpg" alt="" />
        </div>
        <div class="update-node__info">
            <dl>
                <dt>Тип</dt>
                <dd>OVA 2018 год G</dd>
                <dt>Студия</dt>
                <dd>Creators in Pack</dd>
                <dt>Жанр</dt>
                <dd>Повседневность</dd>
            </dl>
        </div>
    </div>
</article>
<article class="update-node">
    <header class="update-node__header">
        <span class="tag tag--ongoing">онгоинг</span>
        <a asp-controller="Anime" asp-action="Title" title="" class="title-preview__name title-preview__name--big">Название тайтла</a>
        <span class="title-preview__info">15 часов назад</span>
    </header>
    <div class="update-node__container">
        <div class="update-node__image">
            <img src="~/images/missing.jpg" alt="" />
        </div>
        <div class="update-node__info">
            <dl>
                <dt>Тип</dt>
                <dd>TV сериал 2018 год R+</dd>
                <dt>Студия</dt>
                <dd>Passione</dd>
                <dt>Эпизоды</dt>
                <dd>0 / ?</dd>
                <dt>Жанры</dt>
                <dd>Романтика Школа</dd>
            </dl>
        </div>
    </div>
</article>
<article class="update-node">
    <header class="update-node__header">
        <span class="tag tag--announce">анонс</span>
        <a asp-controller="Anime" asp-action="Title" title="" class="title-preview__name title-preview__name--big">Название тайтла</a>
        <span class="title-preview__info">15 часов назад</span>
    </header>
    <div class="update-node__container">
        <div class="update-node__image">
            <img src="~/images/missing.jpg" alt="" />
        </div>
        <div class="update-node__info">
            <dl>
                <dt>Тип</dt>
                <dd>TV сериал 2018 год R+</dd>
                <dt>Студия</dt>
                <dd>Passione</dd>
                <dt>Жанры</dt>
                <dd>Экшен Комедия Романтика Школа</dd>
            </dl>
        </div>
    </div>
</article>
