@using OtakuNET.Web.Models.ProfileViewModels
@model ProfileListViewModel
@{
    ViewData["Title"] = string.IsNullOrEmpty(Model.UserName)
        ? Model.UserLogin
        : Model.UserName;
}

@{ 
    var profileRouteData = new Dictionary<string, string> { ["login"] = Model.UserLogin };
}

<a asp-controller="Profile" asp-action="" asp-all-route-data="profileRouteData">
    <header class="section__header section__header--anime-list">@Model.UserName - списки</header>
</a>

@foreach (var list in Model.Lists)
{
    @await Html.PartialAsync("/Views/ProfilePartial/_ProfileListPartial.cshtml", list);
}
