.title-preview {
    width: 20%;
    display: inline-block;
    /*float: left;*/
    margin-bottom: 1rem;
}

@media screen and (max-width: 770px) {
    .title-preview {
        width: 25%;
    }
}

@media screen and (max-width: 540px) {
    .title-preview {
        width: 33%;
    }
}

@media screen and (max-width: 370px) {
    .title-preview {
        width: 50%;
    }
}

.list__header {
    margin-bottom: 2rem;
    margin-left: 3rem;
}
