.title__section-art {
    width: 28%;
}

.title__info-container {
    width: 65%;
}

.title__info-container__flex-container {
    display: flex;
    justify-content: space-between;
}

.title__info-container__flex-container > div {
    width: 48%;
}

@media screen and (max-width: 770px) {
    .title__section-art, .title__info-container {
        width: 49%;
    }

    .title__info-container__flex-container > div {
        width: 100%;
    }

    .title__info-container__flex-container {
        display: block;
    }
}

@media screen and (max-width: 370px) {
    .flex__main-container {
        display: block;
    }

    .title__section-art, .title__info-container {
        width: 100%;
    }
}

/*---./containers---*/



.title__header {
    font-size: 3rem;
    font-weight: normal;
    margin-top: .8rem;
}

.title__section-art__image {
    width: 100%;
}

.title__section-studio__image {
    display: block;
    width: 80%;
    margin: auto;
}

.title__section-description__text {
    text-align: justify;
}
