@{
    ViewData["Title"] = "Главная";
}


<section class="section-ongoings">
    <a asp-controller="Anime" asp-action="List">
        <header class="section__header section__header--ongoings">Сейчас на экранах</header>
    </a>
    <div class="section-ongoings__container">
        <div class="title-preview" id="ongoings__title--1">
            <a asp-controller="Anime" asp-action="Title" class="title-preview__link" title="Name">
                <img src="~/images/missing.jpg" alt="" class="title-preview__image" />
                <p class="title-preview__info">info</p>
                <h3 class="title-preview__name title-preview__name--absolute">Name</h3>
            </a>
        </div>
        <div class="title-preview" id="ongoings__title--2">
            <a asp-controller="Anime" asp-action="Title" class="title-preview__link" title="Name">
                <img src="~/images/missing.jpg" alt="" class="title-preview__image" />
                <p class="title-preview__info">info</p>
                <h3 class="title-preview__name title-preview__name--absolute">Name</h3>
            </a>
        </div>
        <div class="title-preview" id="ongoings__title--3">
            <a asp-controller="Anime" asp-action="Title" class="title-preview__link" title="Name">
                <img src="~/images/missing.jpg" alt="" class="title-preview__image" />
                <p class="title-preview__info">info</p>
                <h3 class="title-preview__name title-preview__name--absolute">Name</h3>
            </a>
        </div>
        <div class="title-preview" id="ongoings__title--4">
            <a asp-controller="Anime" asp-action="Title" class="title-preview__link" title="Name">
                <img src="~/images/missing.jpg" alt="" class="title-preview__image" />
                <p class="title-preview__info">info</p>
                <h3 class="title-preview__name title-preview__name--absolute">Name</h3>
            </a>
        </div>
        <div class="title-preview" id="ongoings__title--5">
            <a asp-controller="Anime" asp-action="Title" class="title-preview__link" title="Name">
                <img src="~/images/missing.jpg" alt="" class="title-preview__image" />
                <p class="title-preview__info">info</p>
                <h3 class="title-preview__name title-preview__name--absolute">Name</h3>
            </a>
        </div>
        <div class="title-preview" id="ongoings__title--6">
            <a asp-controller="Anime" asp-action="Title" class="title-preview__link" title="Name">
                <img src="~/images/missing.jpg" alt="" class="title-preview__image" />
                <p class="title-preview__info">info</p>
                <h3 class="title-preview__name title-preview__name--absolute">Name</h3>
            </a>
        </div>
        <div class="title-preview" id="ongoings__title--7">
            <a asp-controller="Anime" asp-action="Title" class="title-preview__link" title="Name">
                <img src="~/images/missing.jpg" alt="" class="title-preview__image" />
                <p class="title-preview__info">info</p>
                <h3 class="title-preview__name title-preview__name--absolute">Name</h3>
            </a>
        </div>
        <div class="title-preview" id="ongoings__title--8">
            <a asp-controller="Anime" asp-action="Title" class="title-preview__link" title="Name">
                <img src="~/images/missing.jpg" alt="" class="title-preview__image" />
                <p class="title-preview__info">info</p>
                <h3 class="title-preview__name title-preview__name--absolute">Name</h3>
            </a>
        </div>
    </div>
</section>

<section class="middle-section">

    <input type="radio" name="middle-section" id="middle-section__radio-button--anime" checked />
    <label for="middle-section__radio-button--anime">Аниме</label>
    <input type="radio" name="middle-section" id="middle-section__radio-button--manga" />
    <label for="middle-section__radio-button--manga">Манга</label>

    <div class="middle-section__container">

        <div class="middle-section__first">
            <div class="middle-section__first__container" id="middle-section__first__radio-button-block--anime" hidden>
                <div class="middle-section__first__column">
                    <a asp-controller="Anime" asp-action="List" title="">
                        <header class="section__header section__header--seasons">Аниме</header>
                    </a>
                    <ul class="middle-section__first__column__list">
                        <a asp-controller="Anime" asp-action="Season" title=""><li class="middle-section__first__column__list-item">Летний сезон</li></a>
                        <a asp-controller="Anime" asp-action="Season" title=""><li class="middle-section__first__column__list-item">Весенний сезон</li></a>
                        <a asp-controller="Anime" asp-action="Season" title=""><li class="middle-section__first__column__list-item">Зимний сезон</li></a>
                        <a asp-controller="Anime" asp-action="Season" title=""><li class="middle-section__first__column__list-item">Осенний сезон</li></a>
                    </ul>
                </div>
                <div class="middle-section__first__column">
                    <a asp-controller="Anime" asp-action="List">
                        <header class="section__header section__header--recomendations">Рекомендации</header>
                    </a>
                    <ul class="middle-section__first__column__list">
                        <a asp-controller="Anime" asp-action="List" title=""><li class="middle-section__first__column__list-item">Избранное</li></a>
                        <a asp-controller="Anime" asp-action="List" title=""><li class="middle-section__first__column__list-item">От сообщества</li></a>
                        <a asp-controller="Anime" asp-action="List" title=""><li class="middle-section__first__column__list-item">Персонализированные</li></a>
                    </ul>
                </div>
            </div>
            <div class="middle-section__first__container" id="middle-section__first__radio-button-block--manga" hidden>
                <div class="middle-section__first__column">
                    <a asp-controller="Manga" asp-action="List">
                        <header class="section__header section__header--seasons">Манга</header>
                    </a>
                    <ul class="middle-section__first__column__list">
                        <a asp-controller="Manga" asp-action="List" title=""><li class="middle-section__first__column__list-item">Манга</li></a>
                        <a asp-controller="Manga" asp-action="List" title=""><li class="middle-section__first__column__list-item">Ваншот</li></a>
                        <a asp-controller="Manga" asp-action="List" title=""><li class="middle-section__first__column__list-item">Додзинси</li></a>
                        <a asp-controller="Manga" asp-action="List" title=""><li class="middle-section__first__column__list-item">Маньхуа</li></a>
                    </ul>
                </div>
                <div class="middle-section__first__column">
                    <a asp-controller="Manga" asp-action="List">
                        <header class="section__header section__header--recomendations">Рекомендации</header>
                    </a>
                    <ul class="middle-section__first__column__list">
                        <a asp-controller="Manga" asp-action="List" title=""><li class="middle-section__first__column__list-item">Избранное</li></a>
                        <a asp-controller="Manga" asp-action="List" title=""><li class="middle-section__first__column__list-item">Персонализированные</li></a>
                    </ul>
                </div>
            </div>
        </div>

        <div class="middle-section__second">
            <div class="middle-section__second__container" id="middle-section__second__radio-button-block--anime" hidden>
                <header class="middle-section__second__header">Мои списки аниме</header>
                <div class="middle-section__second__list">
                    <a asp-controller="Profile" asp-action="UserName" class="middle-section__second__list-name">Запланировано</a>
                    <span class="middle-section__second__list-counter">223</span>
                </div>
                <div class="middle-section__second__list">
                    <a asp-controller="Profile" asp-action="UserName" class="middle-section__second__list-name">Смотрю</a>
                    <span class="middle-section__second__list-counter">35</span>
                </div>
                <div class="middle-section__second__list">
                    <a asp-controller="Profile" asp-action="UserName" class="middle-section__second__list-name">Пересматриваю</a>
                    <span class="middle-section__second__list-counter">0</span>
                </div>
                <div class="middle-section__second__list">
                    <a asp-controller="Profile" asp-action="UserName" class="middle-section__second__list-name">Просмотрено</a>
                    <span class="middle-section__second__list-counter">156</span>
                </div>
                <div class="middle-section__second__list">
                    <a asp-controller="Profile" asp-action="UserName" class="middle-section__second__list-name">Отложено</a>
                    <span class="middle-section__second__list-counter">0</span>
                </div>
                <div class="middle-section__second__list">
                    <a asp-controller="Profile" asp-action="UserName" class="middle-section__second__list-name">Брошено</a>
                    <span class="middle-section__second__list-counter">0</span>
                </div>
            </div>
            <div class="middle-section__second__container" id="middle-section__second__radio-button-block--manga" hidden>
                <header class="middle-section__second__header">Мои списки манги</header>
                <div class="middle-section__second__list">
                    <a asp-controller="Profile" asp-action="UserName" class="middle-section__second__list-name">Запланировано</a>
                    <span class="middle-section__second__list-counter">3</span>
                </div>
                <div class="middle-section__second__list">
                    <a asp-controller="Profile" asp-action="UserName" class="middle-section__second__list-name">Читаю</a>
                    <span class="middle-section__second__list-counter">2</span>
                </div>
                <div class="middle-section__second__list">
                    <a asp-controller="Profile" asp-action="UserName" class="middle-section__second__list-name">Перечитываю</a>
                    <span class="middle-section__second__list-counter">0</span>
                </div>
                <div class="middle-section__second__list">
                    <a asp-controller="Profile" asp-action="UserName" class="middle-section__second__list-name">Прочитано</a>
                    <span class="middle-section__second__list-counter">5</span>
                </div>
                <div class="middle-section__second__list">
                    <a asp-controller="Profile" asp-action="UserName" class="middle-section__second__list-name">Отложено</a>
                    <span class="middle-section__second__list-counter">0</span>
                </div>
                <div class="middle-section__second__list">
                    <a asp-controller="Profile" asp-action="UserName" class="middle-section__second__list-name">Брошено</a>
                    <span class="middle-section__second__list-counter">0</span>
                </div>
            </div>
        </div>

    </div>

</section>

<div class="news-container">

    <section class="section-news">
        <a asp-controller="News" asp-action="" title="">
            <header class="section__header section__header--news">Лента новостей</header>
        </a>
        @{
            Html.RenderPartial("_NewsPartial");
        }
    </section>

    <section class="section-updates">
        <a asp-controller="News" asp-action="Updates" title="">
            <header class="section__header section__header--updates">Обновления аниме</header>
        </a>
        @{
            Html.RenderPartial("_UpdatesPartial");
        }
    </section>

</div>
