@using OtakuNET.Web.Models.CommentsViewModels
@model CommentsComponentViewModel

<header class="section__header section__header--min">Комментарии</header>

<div id="comments__container"></div>


<input type="hidden" name="contentType" id="contentType" value="@Model.ContentType" />
<input type="hidden" name="contentKey" id="contentKey" value="@Model.ContentKey" />
@if (Model.IsUserSignIn)
{
    <div class="comment__input-area">
        <h4 class="section__header section__header--min">Ваш комментарий</h4>
        <textarea name="text" id="text" class="comment__textbox" placeholder="Текст комментария"></textarea>
        <button class="comment__button" onclick="addComment()">написать</button>
    </div>
}



<script type="text/template" id="comment-template">
    <article class="comment">
        <div class="comment__avatar">
            <a href="/Profile/<%= login %>">
                <img src="<%= avatarSrc %>" alt="" class="comment__avatar__image" />
            </a>
        </div>
        <header>
            <a href="/Profile/<%= login %>" class="title-preview__name">
                <%= login %>
            </a>
            <span class="title-preview__info title-preview__info--inline"><%= timestamp %></span>
        </header>
        <p class="comment__text"><%= text %></p>
    </article>
</script>

